@model IEnumerable<PrezzieWithDB.Models.Souvenir>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateSouvenir")
</p>
<table class="table">
    <tr>
        <th>
            Souvenir
        </th>
        <th>
            Country
        </th>
        <th>
            Price
        </th>
        <th>
            Currency
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.souvenirName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.countrySouv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.souvenirInfo.price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.souvenirInfo.currency)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.souvenirInfo.descriptionSouv)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.souvenirId }) |
        @Html.ActionLink("Details", "Details", new { id = item.souvenirId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.souvenirId })
    </td>
</tr>
}

</table>
