@model PrezzieWithDB.ViewModels.CustomerChangePasswordView

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm("ChangePassword", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="form-group">
        <p class="control-label col-md-2">Password:</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            @if (ViewBag.ErrorMessagePassword != null)
            {
                <p style="color:firebrick">@ViewBag.ErrorMessagePassword</p>
            }
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Confirm Password:</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @if (ViewBag.ErrorMessageConfirmPassword != null)
            {
                <p style="color:firebrick">@ViewBag.ErrorMessageConfirmPassword</p>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update Password" class="btn btn-default" style="background-color:#feab33" />
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to Profile", "Index")
    </div>

}
