@model PrezzieWithDB.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            E-Mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.eMail)
        </dd>

        <dt>
            First name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.firstName)
        </dd>

        <dt>
            Surname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.surname)
        </dd>

        <dt>
            Country
        </dt>

        <dd>
            @Html.DisplayFor(model => model.countryUser)
        </dd>

        <dt>
            Birthday
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.birthday)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.descriptionUser)
        </dd>


    </dl>
</div>
<div class="col-md-3">
    <img src="@Url.Content(Model.selectedPicture)" alt="Here should be a photo" style="width:200px; height:200px; padding:1em 1em 1em" />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
