@model  PrezzieWithDB.ViewModels.RequestView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />

    <div class="row" align="center" style="background-image:url(/Content/header-bg.jpg); background-position:center; background-repeat:no-repeat; background-size:cover">
        <div class="col-md-6" style="background-color:#eeeeee; margin-top:7.5em; margin-bottom:7.5em; border-top-left-radius:40px; border-bottom-left-radius:40px; height:30em">
            <h2 style="color:#56c8c8; margin-top:2em">Souvenir: @Html.DisplayFor(model => model.souvenirName)</h2>
            <div align="left">
                <dl class="dl-horizontal" style="margin-top:2em">
                    <dt>
                        Country:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.countrySouv)
                    </dd>

                    <dt style="margin-top:1em">
                        Amount:
                    </dt>

                    <dd style="margin-top:1em">
                        @Html.DisplayFor(model => model.amount)
                    </dd>

                    <dt style="margin-top:1em">
                        Usual price per piece:
                    </dt>

                    <dd style="margin-top:1em">
                        @Model.price @Model.currency
                    </dd>

                    <dt style="margin-top:1em">
                        Reward:
                    </dt>
                    <dd style="margin-top:1em">
                        @Model.reward @Model.currency
                    </dd>

                    <dt style="margin-top:1em">
                        Status:
                    </dt>

                    <dd style="margin-top:1em">
                        @Html.DisplayFor(model => model.status)
                    </dd>

                    <dt style="margin-top:1em">
                        About the souvenir:
                    </dt>

                    <dd style="margin-top:1em">
                        @Html.DisplayFor(model => model.descriptionSouv)
                    </dd>


                </dl>
            </div>
            @if (Session["userName"].ToString() == Model.userName)
            {
                <p><a class="btn btn-default" style="background-color:#feab33" @Html.ActionLink("Edit", "Edit", new { id = Model.requestID }) </p>
            }
        </div>

        <div class="col-md-6" style="background-color:#56c8c8; margin-top:7.5em; margin-bottom:7.5em; border-top-right-radius:40px; border-bottom-right-radius:40px; height:30em">
            <h2 style="color:#eeeeee; margin-top:2em">User: @Html.DisplayFor(model => model.userName)</h2>
            <div align="left">
                <dl class="dl-horizontal" style="margin-top:2em">
                    <dt>
                        First name:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.firstName)
                    </dd>

                    <dt style="margin-top:1em">
                        Surname:
                    </dt>

                    <dd style="margin-top:1em">
                        @Html.DisplayFor(model => model.surname)
                    </dd>

                    <dt style="margin-top:1em">
                        Country:
                    </dt>

                    <dd style="margin-top:1em">
                        @Html.DisplayFor(model => model.countryUser)
                    </dd>

                    <dt style="margin-top:1em">
                        Birthday:
                    </dt>

                    <dd style="margin-top:1em">
                        @Html.DisplayFor(model => model.birthday)
                    </dd>

                    <dt style="margin-top:1em">
                        About the User:
                    </dt>

                    <dd style="margin-top:1em">
                        @Html.DisplayFor(model => model.descriptionUser)
                    </dd>
                    @if (Model.ratingCount > 0)
                    {
                        <dt style="margin-top:1em">
                            Rating:
                        </dt>

                        <dd style="margin-top:1em">
                            @Html.DisplayFor(model => model.rating) ☆ - @Html.DisplayFor(model => model.ratingDescription) (@Html.DisplayFor(model => model.ratingCount) ratings)
                        </dd>
                    }

                    @if (Model.ratingCount == 0)
                    {
                        <dt style="margin-top:1em">
                            Rating:
                        </dt>

                        <dd style="margin-top:1em">
                            no ratings yet
                        </dd>
                    }
                </dl>
            </div>
            @if (Session["userName"].ToString() != Model.userName && Model.status == "new")
            { 
            <p><a class="btn btn-default" style="background-color:#feab33" @Html.ActionLink("Contact me", "ContactMe", new { souvenirID = Model.requestID, souvenirName = Model.souvenirName, countrySouv = Model.countrySouv, eMail = Model.eMail, firstName = Model.firstName, surname = Model.surname}) </p>
            }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to requests", "Index")
</p>                