@model PrezzieWithDB.ViewModels.RequestView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />

    <div class="row" align="center" style="background-image:url(/Content/header-bg.jpg); background-position:center; background-repeat:no-repeat; background-size:cover">
    <div class="col-md-6" style="background-color:#eeeeee; margin-top:7.5em; margin-bottom:7.5em; border-top-left-radius:40px; border-bottom-left-radius:40px; height:30em; opacity:0.9">
        <h2 style="color:#56c8c8; margin-top:2em">Souvenir: @Html.DisplayFor(model => model.souvenirName)</h2>
        <div align="left">
            <dl class="dl-horizontal" style="margin-top:2em">
                <dt>
                    Country:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.countrySouv)
                </dd>

                <dt style="margin-top:1em">
                    Amount:
                </dt>

                <dd style="margin-top:1em">
                    @Html.DisplayFor(model => model.amount)
                </dd>

                <dt style="margin-top:1em">
                    Usual price per piece:
                </dt>

                <dd style="margin-top:1em">
                    @Html.DisplayFor(model => model.price)
                </dd>

                <dt style="margin-top:1em">
                    Currency:
                </dt>

                <dd style="margin-top:1em">
                    @Html.DisplayFor(model => model.currency)
                </dd>

                <dt style="margin-top:1em">
                    Reward:
                </dt>

                <dd style="margin-top:1em">
                    @Html.DisplayFor(model => model.reward)
                </dd>

                <dt style="margin-top:1em">
                    Status:
                </dt>

                <dd style="margin-top:1em">
                    @Html.DisplayFor(model => model.status)
                </dd>

                <dt style="margin-top:1em">
                    Souvenir description:
                </dt>

                <dd style="margin-top:1em">
                    @Html.DisplayFor(model => model.descriptionSouv)
                </dd>


            </dl>
        </div>
    </div>

    <div class="col-md-6" style="background-color:#56c8c8; margin-top:7.5em; margin-bottom:7.5em; border-top-right-radius:40px; border-bottom-right-radius:40px; height:30em; opacity:0.9">
        <h2 style="color:#eeeeee; margin-top:2em">User: @Html.DisplayFor(model => model.userName)</h2>
        <div align="left">
            <dl class="dl-horizontal" style="margin-top:2em">
                <dt>
                    First name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.firstName)
                </dd>

                <dt style="margin-top:1em">
                    Surname:
                </dt>

                <dd style="margin-top:1em">
                    @Html.DisplayFor(model => model.surname)
                </dd>

                <dt style="margin-top:1em">
                    Country:
                </dt>

                <dd style="margin-top:1em">
                    @Html.DisplayFor(model => model.countryUser)
                </dd>

                <dt style="margin-top:1em">
                    Birthday:
                </dt>

                <dd style="        margin-top: 1em
">
                    @Html.DisplayFor(model => model.birthday)
                </dd>

                <dt style="margin-top:1em">
                    About the User:
                </dt>

                <dd style="margin-top:1em">
                    @Html.DisplayFor(model => model.descriptionUser)
                </dd>

            </dl>
        </div>
        <a class="btn btn-default" style="background-color:#feab33; margin-top:3em" href="mailto:@Model.eMail">Contact me!</a>
    </div>
    </div>
</div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.souvenirID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
