@model IEnumerable<PrezzieWithDB.Models.Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <h2>
            Requests
        </h2>
    </div>
     
</div>

<hr />

<div class="row">
    <div class="col-md-10" style="margin-bottom:2em">

        @using (Html.BeginForm())
        {
            <p>
                Order requests by:
            </p>

            <p>
                <input type="radio" name="sorting" value="Latest" @(ViewBag.sort == "Latest" ? "checked = 'true'" : "")>

                <label for="la"> Latest</label>
                <input type="radio" name="sorting" value="Souvenir" @(ViewBag.sort == "Souvenir" ? "checked = 'true'" : "")>

                <label for="sv"> Souvenir</label>
                <input type="radio" name="sorting" value="Country" @(ViewBag.sort == "Country" ? "checked = 'true'" : "")>

                <label for="co"> Country</label>
                <input type="radio" name="sorting" value="Username" @(ViewBag.sort == "Username" ? "checked = 'true'" : "")>

                <label for="un"> Username</label>
            </p>

            <p>
                Select status:
            </p>

            <p>
                <label>@Html.CheckBox("New", false)</label>
                <label for="ne"> New</label>
                <label>@Html.CheckBox("InProgress", false)</label>
                <label for="ip"> In Progress</label>
            </p>
            <p>
                Search:
            </p>

            <p>
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
            </p>


                <input type="submit" value="Update" name="sorting" class="btn btn-default" style="background-color:#56c8c8" />
                }
        </div>

    <div class="col-md-2">
        <p>
            @if (Session["userName"] != null)
            {
                <a href='@Url.Action("Create", "Request")' class="btn btn-default" style="background-color:#feab33; margin-left:4.5em">Create new</a>
            }

        <p />
    </div>
</div>


@foreach (var item in Model)
{
    <div style="width:100%; background-color:#eeeeee; margin-bottom:3em; border:double; border-color:#56c8c8">
        <div class="row">
            <div class="col-md-3">
                <img src ="@Url.Content(item.souvenir.selectedPicture)" alt="Here should be a photo" style="width:200px; height:200px; padding:1em 1em 1em" />
            </div>
            <div class="col-md-7">
                <h2 style="color:#feab33">@item.souvenir.souvenirName</h2>
                <table style="border:hidden">
                    <tr>
                        <td>Country:</td>
                        <td style="padding-left:4em">@item.souvenir.countrySouv</td>
                    </tr>
                    <tr>
                        <td>Username:</td>
                        <td style="padding-left:4em">@item.customer.userName</td>
                    </tr>
                    <tr>
                        <td>Country User:</td>
                        <td style="padding-left:4em">@item.customer.countryUser</td>
                    </tr>
                    <tr>
                        <td>Usual price per piece:</td>
                        <td style="padding-left:4em">@item.souvenir.souvenirInfo.price @item.souvenir.souvenirInfo.currency</td>
                    </tr>
                    <tr>
                        <td>Amount:</td>
                        <td style="padding-left:4em">@item.amount</td>
                    </tr>
                </table>

            </div>
            <div class="col-md-2">
                <a class="btn btn-default" style="background-color:#56c8c8; margin-top:11em; margin-left:6em" @Html.ActionLink("Details", "Details", new { id = item.souvenirID })
            </div>
        </div>
    </div>

}


