@model IEnumerable<PrezzieWithDB.Models.Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Souvenir
        </th>
        <th>
            Username
        </th>
        <th>
            Country
        </th>
        <th>
            Price
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.souvenir.souvenirName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.userName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.souvenir.countrySouv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.souvenir.souvenirInfo.price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.souvenir.souvenirInfo.descriptionSouv)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
