@model IEnumerable<PrezzieWithDB.Models.Request>

@{
    ViewBag.Title = "myOwnRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Manage your requests!
</h2>

<hr />

<p>
    <a href='@Url.Action("Create", "Request")' class="btn btn-default" style="background-color:#feab33; margin-top:1em; margin-bottom:1em">Create new</a>
    <a href='@Url.Action("Index", "Customer")' class="btn btn-default" style="background-color:#56c8c8; margin-top:1em; margin-bottom:1em">Back to Profile</a>
</p>


@foreach (var item in Model)
{
    <div style="width:100%; background-color:#eeeeee; margin-bottom:3em; border:double; border-color:#56c8c8">
        <div class="row">
            <div class="col-md-3">
                <img src="@Url.Content(item.souvenir.selectedPicture)" alt="Here should be a photo" style="width:200px; height:200px; padding:1em 1em 1em" />
                <a class="btn btn-default" style="margin-left:2.5em; margin-top:-1em" @Html.ActionLink("Change Picture", "changePicture", new { souvenirID =item.souvenirID })
            </div>
            <div class="col-md-7">
                <h2 style="color:#feab33">@item.souvenir.souvenirName</h2>
                <table style="border:hidden">
                    <tr>
                        <td>Country:</td>
                        <td style="padding-left:4em">@item.souvenir.countrySouv</td>
                    </tr>
                    <tr>
                        <td>Username:</td>
                        <td style="padding-left:4em">@item.customer.userName</td>
                    </tr>
                    <tr>
                        <td>Country User:</td>
                        <td style="padding-left:4em">@item.customer.countryUser</td>
                    </tr>
                    <tr>
                        <td>Usual price per piece:</td>
                        <td style="padding-left:4em">@item.souvenir.souvenirInfo.price @item.souvenir.souvenirInfo.currency</td>
                    </tr>
                    <tr>
                        <td>Amount:</td>
                        <td style="padding-left:4em">@item.amount</td>
                    </tr>
                </table>

            </div>
            <div class="col-md-2">
                <a class="btn btn-default" style="background-color:#56c8c8; margin-top:12.5em; margin-left:7em" @Html.ActionLink("Edit", "Edit", new { id = item.souvenirID })
            </div>
        </div>
    </div>

}

