@model IEnumerable<PrezzieWithDB.Models.Request>

@{
    ViewBag.Title = "myOwnRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Manage your requests!
</h2>

<hr />

<p>
    <a href='@Url.Action("Create", "Request")' class="btn btn-default" style="background-color:#feab33; margin-top:1em; margin-bottom:1em">Create new</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Select status:
    </p>

    <p>
        <input type="radio" name="status" value="New" @(ViewBag.status == "New" ? "checked = 'true'" : "")>
        <label for="ne"> New</label>

        <input type="radio" name="status" value="InProgress" @(ViewBag.status == "InProgress" ? "checked = 'true'" : "")>
        <label for="ip"> In Progress</label>

        <input type="radio" name="status" value="Done" @(ViewBag.status == "Done" ? "checked = 'true'" : "")>
        <label for="ip"> Done</label>
    </p>

    <input type="submit" value="Update" name="sorting" class="btn btn-default" style="background-color:#56c8c8; margin-bottom: 2em" />
}

@foreach (var item in Model)
{
    <div style="width:100%; background-color:#eeeeee; margin-bottom:3em; border:double; border-color:#56c8c8">
        <div class="row">
            <div class="col-md-3">
                <img src="@Url.Content(item.souvenir.selectedPictureSouvenir)" alt="Here should be a photo" style="width:200px; height:200px; padding:1em 1em 1em" />
                <a class="btn btn-default" style="margin-left:2.5em; margin-top:-1em" @Html.ActionLink("Change Picture", "changePicture", new { souvenirID = item.requestID })
            </div>
            <div class="col-md-7">
                <h2 style="color:#feab33">@item.souvenir.souvenirName</h2>
                <table style="border:hidden">
                    <tr>
                        <td><b>Country:</b></td>
                        <td style="padding-left:4em">@item.souvenir.countrySouv</td>
                    </tr>
                    <tr>
                        <td><b>Usual price per piece:</b></td>
                        <td style="padding-left:4em">@item.souvenir.souvenirInfo.price.ToString().Replace(".", ",") @item.souvenir.souvenirInfo.currency</td>
                    </tr>
                    <tr>
                        <td><b>Quantity:</b></td>
                        <td style="padding-left:4em">@item.amount</td>
                    </tr>
                    <tr>
                        <td><b>Reward:</b></td>
                        <td style="padding-left:4em">@item.reward.ToString().Replace(".", ",") @item.souvenir.souvenirInfo.currency</td>
                    </tr>
                    <tr>
                        <td><b>Total price:</b></td>
                        @{ double totalprice = (item.souvenir.souvenirInfo.price * item.amount) + item.reward;}
                        <td style="padding-left:4em">@totalprice.ToString().Replace(".", ",") @item.souvenir.souvenirInfo.currency</td>
                    </tr>
                    <tr>
                        <td><b>Status:</b></td>
                        <td style="padding-left:4em">@item.status</td>
                    </tr>
                    <tr>
                        <td></td>
                        @if (item.status == "in progress")
                        {
                            <td style="padding-left:4em"><a style="color:green" @Html.ActionLink("Set Status to new", "SetNew", new { id = item.requestID })</td>
                        }
                    </tr>
                </table>

            </div>
            <div class="col-md-1">
                @if (item.status == "in progress")
                {
                    <p><a class="btn btn-default" style="background-color:#feab33; margin-top:12.5em" @Html.ActionLink("Fullfilled", "FullFilled", new { id = item.requestID, userNameDelivery = item.userNameDelivery })</p>
                }
            </div>
            <div class="col-md-1">
                <p><a class="btn btn-default" style="background-color:#56c8c8; margin-top:12.5em" @Html.ActionLink("Edit", "Edit", new { id = item.requestID })</p>
            </div>
        </div>
    </div>

}

